$background-gradient: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
$circle-gradient: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
$box-shadow-pale-blue: hsl(221, 100%, 96%);


/*Font colors*/
$light-red: hsl(0, 100%, 67%);
$orange-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);
$transparent-white: hsla(0, 0%, 100%, 0.7);
$dark-gray-blue: hsl(224, 30%, 27%);


/*Font weight*/
$medium: 500;
$bold: 700;
$extra-bold: 800;