// priamary-colors
$purple: hsl(259, 100%, 65%);
$lightRed: hsl(0, 100%, 67%);
// neutral
$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$lightGrey: hsl(0, 0%, 86%);
$smokeyGrey: hsl(0, 1%, 44%);
$offBlack: hsl(0, 0%, 8%);

@mixin responsive($screen) {
    @if $screen == m {
        @media screen and (min-width: 580px) {
            @content;
        }
    }
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


::placeholder {
    color: $smokeyGrey;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $offWhite;
    padding: 10rem 3%;
    font-family: 'Poppins', sans-serif;
}

.content {
    margin: auto;
    width: 100%;
    max-width: 58rem;
    height: fit-content;
    background-color: $white;
    border-radius: 1.8rem 1.8rem 22% 1.8rem;
    padding: 4.6rem 2.4rem;
    @include responsive(m){
        padding: 4.6rem 6.4rem 4.6rem 3.2rem;
    }
}

form {
    width: 100%;
}

fieldset {
    border: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 40rem;
}

label,
input {
    display: block;
    width: 100%;
}

.input-container {
    width: 30%;
    max-width: 12rem;
}

label {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: $smokeyGrey;
    margin-bottom: .4rem;
}

input {
    font-size: 2rem;
    font-weight: 800;
    color: $offBlack;
    padding: 1.2rem 0 1.2rem 1.2rem;
    border: 1px solid $lightGrey;
    border-radius: .8rem;
    outline: none;
    width: 100%;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        caret-color: $purple;
        border-color: $purple;
    }

}

.submit-btn-container {
    position: relative;
    padding: 4.2rem 0;
    margin-top: 2rem;
    @include responsive(m){
        padding: .8rem 0 2.2rem 0;
    }

    hr {
        margin: auto;
        border: 1px solid $lightGrey;
        outline: none;
    }
}

.submit-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    @include responsive(m){
        left: 100%;
    }
}

.btn-icon {
    background-color: $purple;
    padding: 1.6rem;
    width: 6rem;
    border-radius: 50%;
    transition: .2s ease;

    &:hover {
        background-color: $offBlack;
        cursor: pointer;
    }
}

.calculated-age-container {
    width: 100%;
    font-size: 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: italic;
    font-weight: 800;
    line-height: 1;
    padding-top: 2rem;
    @include responsive(m){
        font-size: 6.2rem;
    }
}

.output-span {
    padding-right: .8rem;
    color: $purple;
}

.error-msg{
    display: block;
    color: $lightRed;
    font-weight: 400;
    font-style: italic;
    padding-top: .4rem;
    font-size: 1.1rem;
}