// colors
$softRed: #fe7867;
$yellow: #fad400;
$darkDesaturatedCyan: #25564b;
$darkBlue: #19536b;
$darkModerateCyan: #458c7e;
$footerBg:#59b3a1cb;

$veryDarkDesaturatedBlue: #23303e;
$veryDarkGrayishBlue: #5a636c;
$darkGrayishBlue: #818498;
$grayishBlue: #a7abae;