@import '_colors';
@import '_header';
@import '_card';
@import '_range';
@import '_mixins';

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $veryPaleBlue;
}

p {
    color: $grayishBlue;
    font-size: 1.5rem;
    line-height: 1.6;
}

main {
    display: flex;
    justify-content: center;
    transform: translateY(-10rem);
    padding: 0 2.4rem;
    @include responsive(desktop){
        transform: translateY(-16rem);
    }
}
